<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplication</title>
    <link rel="stylesheet" type="text/css" href="/static/quejas.css">
</head>

<header>

  <div class="flex">
    <ul class="nav">
        <li><a href="/login"> LOGIN</a></li>
        <li><a href="/registro">REGISTRO</a></li>
        <li><a href="/quejas">QUEJAS</a></li>
    </ul>
</div>

</header>

<body>
    <form class="quejasbox" action="/quejas" method="post">
       
           <label for="name">Titulo</label>
           <input type="text" id="name" name="nombre" /><br>
         
           <label for="msg">Mensaje:</label>
           <textarea id="queja" name="queja"></textarea>
         
         <button type="submit">Enviar</button>
        
    </form>

    <table class="cajaqueja">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Queja</th>
          </tr>
        </thead>
        <tbody>
          {% for queja in quejas %}
            <tr>
              <td class="usuario">{{ queja.titulo }}</td>
              <td class="mensaje">{{ queja.mensaje }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</body>