header{
    background-color: rgb(255, 255, 255);
    width: 400px;
    position: relative; top: 20px; left: 40%;

}

.quejasbox{
    text-align: center;
    padding-top: 100px;
}

.cajaqueja{
    position: relative; top: 100px; left: 47%;
}

.usuario{
    padding-left: 5px;
}

.mensaje{
    padding-left: 5px;
}

.flex{
	width: 100%;
	height: 100%;
	display: flex;
}
.nav{
	background: none;
}
.nav li{
	display: inline-block;
}
.nav li a{
	display: inline-block;
	padding: 25px 25px;
	color:rgb(0, 0, 0);
	text-decoration: none;
	transition: color .4s cubic-bezier(.23,1,.32,1);
}

.nav li a:hover{
	color:#8b8b8b;
}

.nav li a{
    
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 15px;
    display:block;
    }
    
.nav li a:hover{
    
    background-color:#434343;
    
    }
    
.nav li ul{
    
    display:none;
    position:absolute;
    min-height:140px;
    }
    
.nav li:hover > ul{
    
    display:block;
    
    }
    
.nav li ul li{
    
    position:relative;
    
    }
    
.nav li ul li ul{
    
    right:-140px;
    top:0px;
    
    }
    
.nav > li{
    float:left;
    }