body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background-image: url(/static/img/geometric.jpg);
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    overflow: hidden;
    
}
form {	
    background-color: #ffffff2f;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 200px auto;
    margin-top: 45px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}
input[type=text], input[type=password] {
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}
button {
    background-color: #254569;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}
button:hover {
    background-color: #072152;
}

.titulo_form {
    padding-left: 145px;
}

a:link, a:visited {
    text-decoration: none;
  }